.one{
     height:150px;
     width:1900px;
     display-inline:block;
     background-color:#006491;  
     font-weight:bold;
     font-family: Arial, sans-serif;
     border-radius:10px;
    }
.three{
      font-family: Arial, sans-serif;
      color: #e31837;
      }
.two{
     color:#E31837;
     font-family: Verdana, Geneva, sans-serif;
}
.pad{
     padding-top:20px;}
.pad1{
     padding-left:600px;}
.font{
 font-family: Verdana, Geneva, sans-serif;
color:white;
 }
.button {
  text-align: right;
  margin-right: 5px;
  padding: 35px; 
}

.button button {
  padding: 12px 24px;
  background-color: #e31837;
  color:blue;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button button:hover {
  background-color:white;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.bg{
    height:500px;
    width:700px;
    background-color: #e31837;
    }
.line {
  width: 100%;          
  height: 3px;         
  background-color:#006491;
  border: none;        
}
.bg2{
    height:500px;
    width:700px;
    background-color:#b1122b;
        }
.container{
display: flex;
gap:px;             
justify-content:left;
}
.mg{
    margin-top:50px;
    margin-left:29%;}
.txt{
     color:white;
     font-size:30px;
     font-wight:normal;}
.button2 button {
  padding: 12px 24px;
  background-color:white;
  color:blue;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button2 button:hover {
  background-color:white;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

a,
a:visited,
a:hover,
a:active {
  color:white; 
  text-decoration: none; 
}


